.daily-activity-main-container {
    height: 100%;
    width: 100%;
    background-color: #FBFBFB;
    color: black;
}

.daily-activity-responsive-container {
    width: 100%;
    max-height: 200px;
    background-color: #FBFBFB;
    color: black;
    position: relative;
    border-radius: 5px;
    
}

.daily-activity-title {
    padding: 30px 0 50px 30px;
}

.tooltip-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: red;
    height: 100px;
    padding: 5px;
    margin-left: 27px;
    color: white;
}

.daily-activity-responsive-container .legend-main-container {
    position: absolute;
    display: flex;
    gap: 50px;
    color: #74798C;
    font-weight: 500;
    font-size: 15px;
    right: 34px;
    top: -270px;
}

.daily-activity-responsive-container .legend-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.daily-activity-responsive-container .legend-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

@media (max-width: 1250px) {
    .daily-activity-main-container {
        height: 320px;
    }
}