.nutrition-list-main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

@media (max-width: 1250px) {
    .nutrition-list-main-container {
        flex-direction: row;
    }
}