.nutri-card-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    padding: 10px;
    background-color: #FBFBFB;
    color: black;
    border-radius: 5px;
    gap: 17px;
}

.nutri-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 6px;
}

.nutri-card-text p:first-child {
    font-weight: 700;
    font-size: 18px;
}

.nutri-card-text p:last-child {
    font-weight: 500;
    font-size: 13px;
    color: #74798C;
}

@media (max-width: 1250px) {

    .nutri-card-main-container {
        width: 170px;
    }
    
}